---
import Layout from '@lib/layouts/base.astro'

export const getStaticPaths = async () => [
    { params: { tag: 'bun' } },
    { params: { tag: 'sveltekit' } },
]

const { tag } = Astro.params
---

<Layout>
    <p>it's on the {tag}</p>
</Layout>
