<h1 class="text-3xl p-4">Ziyu Blog</h1>
<hr />

<h2>About me</h2>

<a href="./">&lt;&lt; Back</a>

<ul>
    <li>Name: ZiYu</li>
    <li><img class="h-16" src="https://avatars.githubusercontent.com/u/119984?v=4" alt="" /></li>
    <li>Position: Shenzhen.China</li>
    <li>Github: <a href="https://github.com/mwc">https://github.com/mwc</a></li>
    <li>Zhihu: <a href="https://www.zhihu.com/people/qianduanziyu">https://www.zhihu.com/people/qianduanziyu</a></li>
</ul>
