---
const title = 'my blog'
const lang = 'zh-cn'
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml">
        <title>{title}</title>
    </head>
    <body>
        <h1 class="text-3xl">hello, my Astro site.</h1>
        <h2>try github actions.</h2>
    </body>
</html>
