---
import Layout from '@lib/layouts/base.astro'
---

<Layout>
    <ul class="list-disc list-inside leading-9">
        <li><a href="./posts/compile-bun-source-code/">编译 Bun 源码</a></li>
        <li><a href="./posts/create-run-kit-using-bun/">使用 Bun 创建与运行 SvelteKit 项目</a></li>
    </ul>
</Layout>
