---
import { ViewTransitions } from 'astro:transitions'
import '@src/styles/global.scss'

let { title } = Astro.props

title = title ? title.replace('$', "ZiYu's blog") : "ZiYu's blog"
---

<!doctype html>
<html lang="zh-cn" class="dark">
    <head>
        <meta charset="UTF-8" />
        {title && <meta name="description" content={title} />}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <link rel="shortcut icon" href="/myblog/favicon.png" />
        <ViewTransitions />
        <title>{title}</title>
    </head>
    <body>
        <header class="px-6 flex items-center justify-between dark:bg-[#262626]" id="__page-top">
            <a href="/myblog">
                <span class="hidden" aria-hidden="true">back to Home</span>
                <img class="h-16" src="/myblog/logo.png" alt="ZiYu's blog" />
            </a>
            <div class="flex items-center gap-4">
                <button class="border-none bg-none [&>svg]:w-6">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path class="fill-black dark:fill-transparent" fill-rule="evenodd" d="M12 17.5a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zm0 1.5a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm12-7a.8.8 0 0 1-.8.8h-2.4a.8.8 0 0 1 0-1.6h2.4a.8.8 0 0 1 .8.8zM4 12a.8.8 0 0 1-.8.8H.8a.8.8 0 0 1 0-1.6h2.5a.8.8 0 0 1 .8.8zm16.5-8.5a.8.8 0 0 1 0 1l-1.8 1.8a.8.8 0 0 1-1-1l1.7-1.8a.8.8 0 0 1 1 0zM6.3 17.7a.8.8 0 0 1 0 1l-1.7 1.8a.8.8 0 1 1-1-1l1.7-1.8a.8.8 0 0 1 1 0zM12 0a.8.8 0 0 1 .8.8v2.5a.8.8 0 0 1-1.6 0V.8A.8.8 0 0 1 12 0zm0 20a.8.8 0 0 1 .8.8v2.4a.8.8 0 0 1-1.6 0v-2.4a.8.8 0 0 1 .8-.8zM3.5 3.5a.8.8 0 0 1 1 0l1.8 1.8a.8.8 0 1 1-1 1L3.5 4.6a.8.8 0 0 1 0-1zm14.2 14.2a.8.8 0 0 1 1 0l1.8 1.7a.8.8 0 0 1-1 1l-1.8-1.7a.8.8 0 0 1 0-1z"/>
                        <path class="fill-transparent dark:fill-white" fill-rule="evenodd" d="M16.5 6A10.5 10.5 0 0 1 4.7 16.4 8.5 8.5 0 1 0 16.4 4.7l.1 1.3zm-1.7-2a9 9 0 0 1 .2 2 9 9 0 0 1-11 8.8 9.4 9.4 0 0 1-.8-.3c-.4 0-.8.3-.7.7a10 10 0 0 0 .3.8 10 10 0 0 0 9.2 6 10 10 0 0 0 4-19.2 9.7 9.7 0 0 0-.9-.3c-.3-.1-.7.3-.6.7a9 9 0 0 1 .3.8z"/>
                    </svg>
                </button>
                <span tabindex="-1" class="group cursor-pointer">
                    <span class="hidden" aria-hidden="true">follow my Wechat</span>
                    <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" class="h-7 w-7">
                        <path d="M595.77552 510.579651c-14.478759 0-29.04143 14.562671-29.04143 29.016871 0 14.6957 14.560624 29.068036 29.04143 29.068036 21.951965 0 36.3243-14.372336 36.3243-29.068036C632.09982 525.143345 617.727485 510.579651 595.77552 510.579651z" fill="#0DD116"></path>
                        <path d="M755.467569 510.579651c-14.369266 0-28.851095 14.562671-28.851095 29.016871 0 14.6957 14.481829 29.068036 28.851095 29.068036 21.76163 0 36.322254-14.372336 36.322254-29.068036C791.789823 525.143345 777.229199 510.579651 755.467569 510.579651z" fill="#0DD116"></path>
                        <path d="M298.153052 300.001655c-21.734 0-43.714617 14.344706-43.714617 36.214806 0 21.762653 21.980617 36.322254 43.714617 36.322254 21.760606 0 36.213783-14.559601 36.213783-36.322254C334.366835 314.346361 319.912635 300.001655 298.153052 300.001655z" fill="#0DD116"></path>
                        <path d="M501.367337 372.539738c21.844517 0 36.325323-14.560624 36.325323-36.322254 0-21.8701-14.480806-36.213783-36.325323-36.213783-21.760606 0-43.630706 14.343683-43.630706 36.213783C457.736631 357.979114 479.606731 372.539738 501.367337 372.539738z" fill="#0DD116"></path>
                        <path d="M512.330016 1.7519c-280.878109 0-508.827751 227.839125-508.827751 508.827751 0 280.987602 227.949642 508.827751 508.827751 508.827751 280.908808 0 508.74691-227.840148 508.74691-508.827751C1021.076926 229.591025 793.237801 1.7519 512.330016 1.7519zM392.479371 670.464081c-36.241412 0-65.36573-7.392364-101.69003-14.560624l-101.498672 50.91153 29.015847-87.372953C145.658939 568.666604 102.13568 503.164774 102.13568 423.454338c0-138.149407 130.73146-246.928902 290.342668-246.928902 142.730749 0 267.790022 86.880743 292.931632 203.870224-9.217942-1.037632-18.543332-1.691525-27.948539-1.691525-137.932466 0-246.819408 102.916974-246.819408 229.77829 0 21.078061 3.27151 41.421388 8.943696 60.8376C410.61338 670.028153 401.586796 670.464081 392.479371 670.464081zM820.726875 772.153088l21.869077 72.591295-79.627549-43.630706c-29.0445 7.2798-58.221006 14.560624-87.12736 14.560624-138.148383 0-246.927879-94.40716-246.927879-210.683397 0-116.089995 108.779496-210.689536 246.927879-210.689536 130.405025 0 246.600421 94.598518 246.600421 210.689536C922.441465 670.464081 879.028723 728.4661 820.726875 772.153088z" fill="#0DD116"></path>
                    </svg>
                    <div class="bg-white hidden cursor-default group-focus:block absolute z-20 mt-2 ml-4 p-1 ring-1 ring-gray-300 -translate-x-1/2 shadow-md rounded-md">
                        <img class="w-32" src="/myblog/weixin.jpg" />
                        <div class="text-xs leading-6 text-gray-500 text-center">长按/扫码前往公众号</div>
                    </div>
                </span>
                <a href="https://github.com/mwc" target="_blank">
                    <span class="hidden" aria-hidden="true">go to my Github</span>
                    <img class="h-9" src="/myblog/github.png" alt="My Github" />
                </a>
                <a href="https://www.zhihu.com/people/qianduanziyu" target="_blank">
                    <span class="hidden" aria-hidden="true">go to my Zhihu homepage</span>
                    <img class="h-[26px] rounded-md" src="/myblog/zhihu.png" alt="My Zhihu" />
                </a>
                <a href="/myblog/rss.xml" target="_blank">
                    <span class="hidden" aria-hidden="true">follow rss</span>
                    <svg class="h-[30px]" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M365.714286 731.428571q0-30.285714-21.428572-51.714285T292.571429 658.285714t-51.714286 21.428572T219.428571 731.428571t21.428572 51.714286T292.571429 804.571429t51.714285-21.428572T365.714286 731.428571z m200.571428 53.714286q-7.428571-132.571429-101.142857-226.285714T238.857143 457.714286q-8-0.571429-13.714286 5.142857t-5.714286 13.142857v73.142857q0 7.428571 4.857143 12.571429t12.285715 5.714285q88 6.285714 150.857142 69.142858t69.142858 150.857142q0.571429 7.428571 5.714285 12.285715t12.571429 4.857143h73.142857q7.428571 0 13.142857-5.714286t5.142857-13.714286z m219.428572 0.571429q-2.857143-88-32-170t-79.714286-148.571429-117.142857-117.142857-148.571429-79.714286T238.285714 238.285714q-8-0.571429-13.142857 5.142857-5.714286 5.714286-5.714286 13.142858v73.142857q0 7.428571 5.142858 12.571428t12.571428 5.714286q116.571429 4 216 63.714286T612.285714 570.857143t63.714286 216q0.571429 7.428571 5.714286 12.571428t12.571428 5.142858h73.142857q7.428571 0 13.142858-5.714286 6.285714-5.142857 5.142857-13.142857z m165.142857-548v548.571428q0 68-48.285714 116.285715T786.285714 950.857143H237.714286q-68 0-116.285715-48.285714T73.142857 786.285714V237.714286q0-68 48.285714-116.285715T237.714286 73.142857h548.571428q68 0 116.285715 48.285714T950.857143 237.714286z" fill="#e16531"></path>
                    </svg>
                </a>
            </div>
        </header>
        <nav class="bg-[--primary] py-4 px-6">
            <ul class="flex items-center font-semibold gap-10 text-[#61330e] [&_a:hover]:!text-black">
                <li><a href="/myblog">Home</a></li>
                <li><a href="/myblog/books">Books</a></li>
                <li><a href="/myblog/about">About</a></li>
            </ul>
        </nav>
        <div class="py-4 px-6" transition:animate="slide">
            <slot />
        </div>
        <footer class="py-6 border-t dark:border-t-zinc-700 flex justify-center">
            <a href="/myblog">
                <span class="hidden" aria-hidden="true">back to Home</span>
                <img class="h-16 grayscale hover:grayscale-0" src="/myblog/logo.png" alt="ZiYu's blog" />
            </a>
        </footer>
    </body>
</html>
