---
import '@src/styles/global.scss'

let { title } = Astro.props

title = title ? title.replace('$', "ZiYu's blog") : "ZiYu's blog"
---

<!doctype html>
<html lang="zh-cn">
    <head>
        <base href="/myblog/" />
        <meta charset="UTF-8" />
        {title && <meta name="description" content={title}>}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <link rel="shortcut icon" href="favicon.png" />
        <title>{title}</title>
    </head>
    <body>
        <header class="px-6 flex items-center justify-between">
            <a href=".">
                <img class="h-16" src="/myblog/logo.png" alt="ZiYu's blog" />
            </a>
            <div class="flex items-center gap-6">
                <a href="https://www.zhihu.com/people/qianduanziyu" target="_blank">
                    <img class="h-7 rounded-md" src="/myblog/zhihu.png" alt="My Zhihu" />
                </a>
                <a href="https://github.com/mwc" target="_blank">
                    <img class="h-9" src="/myblog/github.png" alt="My Github" />
                </a>
            </div>
        </header>
        <nav class="bg-[--primary] py-4 px-6">
            <ul class="flex items-center font-semibold gap-10 text-[#61330e] [&_a:hover]:!text-black">
                <li><a href=".">Home</a></li>
                <li><a href="books/">Books</a></li>
                <li><a href="about/">About</a></li>
            </ul>
        </nav>
        <div class="py-4 px-6">
            <slot />
        </div>
        <footer class="py-6 border-t flex justify-center">
            <a href=".">
                <img class="h-16 grayscale" src="/myblog/logo.png" alt="ZiYu's blog" />
            </a>
        </footer>
    </body>
</html>
