---
import { ViewTransitions } from 'astro:transitions'
import '@src/styles/global.scss'
import Theme from '../components/theme.svelte'

let { title } = Astro.props

title = title ? title.replace('$', "ZiYu's blog") : "ZiYu's blog"
---

<!doctype html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8" />
        {title && <meta name="description" content={title} />}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <link rel="shortcut icon" href="/myblog/favicon.png" />
        <ViewTransitions />
        <title>{title}</title>
        <script>
            function changeTheme() {
                function theme() {
                    const local = localStorage.getItem('theme')

                    if (local) {
                        return local
                    }

                    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
                        return 'dark'
                    }

                    return 'light'
                }

                if (theme() == 'light') {
                    document.documentElement.classList.remove('dark')
                } else {
                    document.documentElement.classList.add('dark')
                }
            }

            document.addEventListener('astro:page-load', () => {
                changeTheme()
            })
        </script>
    </head>
    <body>
        <header class="px-6 flex items-center justify-between dark:bg-[#262626]" id="__page-top">
            <a href="/myblog">
                <span class="hidden" aria-hidden="true">back to Home</span>
                <img class="h-16" src="/myblog/logo.png" alt="ZiYu's blog" />
            </a>
            <div class="flex items-center gap-4">
                <Theme client:load />
                <a href="https://github.com/mwc/myblog" target="_blank">
                    <span class="hidden" aria-hidden="true">go to my Github</span>
                    <svg viewBox="0 0 16 16" version="1.1" class="w-7 h-7 text-black dark:text-white">
                        <path fill="currentColor" d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
                    </svg>
                </a>
            </div>
        </header>
        <nav class="bg-[--primary] py-4 px-6">
            <ul class="flex items-center font-semibold gap-10 text-[#61330e] [&_a:hover]:!text-black">
                <li><a href="/myblog">Home</a></li>
                <li><a href="/myblog/projects">Projects</a></li>
                <li><a href="/myblog/books">Books</a></li>
                <li><a href="/myblog/about">About</a></li>
            </ul>
        </nav>
        <div class="py-4 px-6" transition:animate="slide">
            <slot />
        </div>
        <footer class="py-6 border-t dark:border-t-zinc-700 flex justify-center">
            <a href="/myblog">
                <span class="hidden" aria-hidden="true">back to Home</span>
                <img class="h-16 grayscale hover:grayscale-0" src="/myblog/logo.png" alt="ZiYu's blog" />
            </a>
        </footer>
    </body>
</html>
