---
import "@src/global.scss"
const { title } = Astro.props
---

<!doctype html>
<html lang="zh-cn">
    <head>
        <base href="/myblog/" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="favicon.svg" type="image/svg+xml" />
        <title>{title || "ZiYu's blog"}</title>
    </head>
    <body>
        <header class="px-4 flex items-center justify-between">
            <img class="h-16" src="https://avatars.githubusercontent.com/u/119984?v=4" alt="ZiYu's blog" />
            <div class="flex items-center gap-6">
                <a href="https://github.com/mwc" target="_blank">
                    <img
                        class="h-7 rounded-md"
                        src="https://static.zhihu.com/heifetz/assets/apple-touch-icon-152.81060cab.png"
                        alt="My Zhihu"
                    />
                </a>
                <a href="https://github.com/mwc" target="_blank">
                    <img
                        class="h-9"
                        src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png"
                        alt="My Github"
                    />
                </a>
            </div>
        </header>
        <nav class="bg-[--primary] p-4">
            <ul class="flex items-center gap-6 text-black [&_a:hover]:text-[#824513] [&_a:hover]:underline">
                <li><a href=".">Home</a></li>
                <li><a href="about/">About</a></li>
            </ul>
        </nav>
        <div class="p-4">
            <slot />
        </div>
    </body>
</html>
