---
const { title, class: className, ...props } = Astro.props
---

<div class={ `mt-4 mb-6 ${className}`} {...props}>
    <h2 class="font-medium inline-block text-lg text-orange-600 border-b-4 pb-1 mb-2">{title}</h2>
    <div><slot /></div>
</div>
