---
import { Subject } from '@components'

const { data: tags } = Astro.props
---

<Subject title="Tags">
    <div class="flex flex-wrap gap-x-8 gap-y-4 mt-2 text-sm max-w-xs">
        {
            Object.keys(tags).map((tag) => (
                <a class="hover:underline hover:text-orange-600" href={`./tags/${tag}/`}>
                    {tag} ({tags[tag]})
                </a>
            ))
        }
    </div>
</Subject>