---
import { Subject } from '@components'

const { data: tags } = Astro.props
const keys = Object.keys(tags)
---

{
    keys.length && (
        <Subject title="Tags">
            <div class="flex flex-wrap gap-x-8 gap-y-4 mt-2 text-sm max-w-xs">
                {keys.map((tag) => (
                    <a href={`./tags/${tag}/`}>
                        {tag} ({tags[tag]})
                    </a>
                ))}
            </div>
        </Subject>
    )
}
